.button {
  border-radius: 16px;
  border: none;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 20%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  box-shadow: 0px 1px 1px rgba(18, 18, 18, 0.08),
    0px 5px 4px rgba(18, 18, 18, 0.08),
    0px 12px 9px rgba(18, 18, 18, 0.08),
    0px 20px 15px rgba(18, 18, 18, 0.08),
    0px 32px 24px rgba(18, 18, 18, 0.08);
}
